option_settings:
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-1:864966931677:certificate/REPLACE_WITH_YOUR_CERT_ID
    DefaultProcess: default
  aws:elbv2:listener:default:
    ListenerEnabled: 'true'
    
# If you don't have an ACM certificate yet, request one first:
# AWS Console > Certificate Manager > Request a certificate > 
# Domain: bestill-prod-env.eba-vvcdpu3q.us-west-1.elasticbeanstalk.com
